* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    ;

}
header {
    display: flex;
    padding: 0.1rem;
    background-color: rgb(138, 26, 26);
    color: white;
    text-decoration: none;
    width: auto;
    justify-content: center;
}

#div-header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vh 0;
}

h1 {
    font-size: 2.5rem;
    text-shadow: 1px 2px 5px black;
    font-weight: bold;
    text-align: left;
}

.top-links{
    color: white;
}

.top-links:hover{
    background-color: black;
    color: white;
    font-style: italic;
}



#burguer {
    display: flexbox;
    align-content: right;
    padding: 0.5rem;
}

#burguer:hover {
    background-color: black;
    cursor: pointer;
    border-radius: 0.5rem;
}

#header-links {
    display: flex;
    text-decoration: none;
    text-align: right;
}

#div-biography{
    width: 50%;
    display: flex;
    flex-direction: column;
}

#section-biography{
    display: flex;
    justify-content: center;
}


#profile-pic {
    max-width: 100%;
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 30rem;
}

#presentation {
    text-align: center;
    padding: 1vh;

}

#about-me {
    font-size: 3rem;
    text-align: center;

}

#biography {
    display: flex;
    text-align: justify;
    line-height: 1.3rem;


}

#about-biography {
    padding: 2rem;
}

.subtitle {
    color: white;
    text-shadow: 1px 2px 5px black;
}

.top-5 {
    background-color: rgb(138, 26, 26);
    display: inline-table;
    margin-top: 3vh;
    padding: 1vh;
    text-align: center;
}

#hobbies-games {
    display: flex;
    flex-direction: column;
}

.cards-div ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.cards-div {

    justify-content: center;
    display: flex;
    flex-direction: row;
}

.cards {
    box-sizing: border-box;
    background-color: white ;
    text-align: center;
    border-radius: 1em;
    margin: 2rem;
    padding: 4rem;
    box-shadow: 10px 10px grey;
    width: 250px;
    min-width: 200px;
    height: 180px;
    min-height: 100px;
    transition: 0.3s;

}

.cards:hover {
    background-color: rgb(51, 131, 236);
    color: white;
    font-style: italic;
}

.game-links {
    text-decoration: none;
    color: black;
}

.game-links:hover {
    background-color: black;
    color: white;
    font-style: italic;
}

footer {
    margin-left: 1.5rem;
    padding-top: 1.5em;
}

.footer-links {
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.footer-links:hover {
    background-color: rgb(138, 26, 26);
}

@media (min) {
    .cards-div {
        flex-wrap: wrap;
    }

    #hobbies {
        height: auto;
    }

    #games {
        height: auto;
    }
}